.Main{
  background-image: url("./assets/back-image.jpg");
  background-size: cover; 
  height: 100vh;
  width: 100vw;
}

.TopBar p{
  text-align: center;
  margin: auto;
  margin-left: 4vw;
  margin-right: 4vw;
  color: blue;
  font-weight: bold;
  font-size: large;
  width: 4vw;
  height: 2vh;
}

.TopBar p:hover{
  font-size: larger;
}

.App{
  display: inline-flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  min-height: 70vh;
  height: fit-content;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 2vw;
}

/* Styles pour le texte à l'intérieur de la boîte */
.Box p {
  color: #000000; /* Couleur du texte */
}

#display{
  width: 25%;
}

#form{
  width: 75%;
}

.device{
  background-color: rgb(235, 235, 235);
  border: 0.1vh solid #1d1b31;
  border-radius: 0.5vh;
  padding: 2vh;
  list-style: none;
  margin: 1vh;
  min-width: fit-content;
}

.TopBar{
  display: inline-flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  height: 10vh;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 2vw;
  margin-top: 2vw;
}