.App{
  display: inline-flex;
}

.Box {
  background-color: #daecf7; /* Couleur de fond */
  border: 0.1vh solid #736fad; /* Bordure de 2 pixels avec couleur grise */
  border-radius: 2vh; /* Coins arrondis */
  padding: 2vh; /* Espacement interne autour du contenu */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre douce autour de la boîte */
  margin: 3vh;
  min-width: fit-content;
}

/* Styles pour le texte à l'intérieur de la boîte */
.Box p {
  color: #333; /* Couleur du texte */
}

.device{
  background-color: antiquewhite;
  border: 0.1vh solid #736fad;
  border-radius: 4vh;
  padding: 2vh;
  list-style: none;
  margin: 1vh;
  min-width: fit-content;
}