.white-card {
    background-color: white;
    min-width: 5vh;
    min-height: 5vh;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
  }
  
.centered-view {
    margin: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.menu-item-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-inline: 50px;
}

.menu-bar {
    display:flex;
    flex-direction: row;
}