body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F0EFEF url("./ressources/background_geometric.svg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.white-card{
  background-color: white;
  min-width: 5vh;
  min-height: 5vh;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  padding: 1vw;
}

#big-center-card{
  height: 60vh;
  width: 70vw;
  background-color: rgb(255,255,255,0.8);

  display: flex;
  align-items: center;
  justify-content: center
}
